.card {
  @apply relative flex flex-col min-w-0 break-words border border border-gray-300 rounded;
}
.card-rounded-none { @apply rounded-none !important}
.card-rounded-lg { @apply rounded-lg !important}
.card-rounded-2xl { @apply rounded-2xl !important}
.card-body {
  @apply flex-auto p-6;
}
.card-title {
  @apply mb-2 text-lg font-medium leading-tight;
}
.card-header, .card-footer {
  @apply py-3 px-6 mb-0 bg-gray-200 border-b border-gray-200 text-gray-800;
}
.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
blockquote {
  margin: 0 0 1rem;
}
.blockquote-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: .875em;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "— ";
}